<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<div id="new-blog-link">
    <%= link_to 'tweetページへ',blogs_path,class: ' col-md-offset-2 col-md-1  col-md-offset-9 btn btn-info' %>
</div>

