li{
    list-style:none;
}
ul{
    padding:0;
}

.header{
    font-size:20px;
    font-weight:bold;
    text-align:center;
    line-height:100%;
}

.menu{
    background-color:#012F4B;
    color:#fff;
}

.menu li {
    padding:5% 10%;
    text-align:center;
}
.contents li{
    background-color:#F3A7AB;
    color:#fff;
    padding:10% 10%;
    box-sizing: border-box;
    border: solid 1px #fff;
}
.topic li{
    margin:1%;
    border-bottom: dotted 1px #333333;
}
.container{
    margin-top:20px;
    padding-bottom: 100px;
}

.footer{
    margin-top:20px;
}

h1,h2,h3,h4,h5{
    border-style:dotted;
    border-width:1px;
    border-style:none;
}

p{
    border-style:none;
}

.about h2{
    text-align:left;
    background-color:white;
    border-style:none;
    margin-top:20px;
}

h2{
    background-color:#286090;
    color: white;
    margin-top: 0;
    margin-bottom:20px;
}

div,p{
    border-width:1px;
}

p.footer{
    border-style: none;
}

div.blog-links{
    border-style: none;
}

div#new-blog-link{
    border-style: none;
}

div.row{
    border-style:none;
}

body{
    font-family: verdana,arial,helvetica,sans-serif;
    font-size:13px;
    line-height: 18px;
}

div.blog-panel{
    height: 150px;
    margin: 15px 0;
    padding: 0;
    border-style:groove;
}

.btn-default{
    float:left;
}

div.container-fluid{
    background-color: #286090;
    border-style:none;
    height:130px;
}

div.container{
    border-style:none;
}

p.about{
    border-style:none;
    text-align:left;
    margin-bottom: 0;
}

.btn-info{
    margin-top:70px;
    margin-bottom:50px;
    background-color: white;
    border-color: black;
    display:inline-block;
}

.btn-success, .btn-warning, .btn-danger{
    background-color:white;
    border-color:black;
    color:black;
}

input{
    border-radius: 10px;
    box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

div.blog_image{
    display:inline-block;    
}

div.field{
    display:inline-block;    
}

img{
   width:auto;
   height:auto;
   max-width:100%;
   max-height:100%;
   position:relative;
   margin-right:auto;
   margin-left:auto;
   text-alian:center;
}

thumbnali.caption{
    position:relative;
    width:300px;
    height:300px;
    text-align:center;
    margin:auto;
}

new-blog-link.btn btn-info{
    text-alian:center;
}

#error_explanation{
    margin:auto;
}

.field_with_errors{
    margin:auto;
}

a.navbar-brand.img{
   width:auto;
   height:auto;
   max-width:300%;
   max-height:300%;
}

.main-header{
    padding-bottom: 63%;
    width: 100%;
    background-size: cover;
    background-image: url(/assets/background.jpg);
    background-attachment: fixed;
}

.main-header img {
    display: block;
    margin: 0 auto;
    width: 25%;
    padding-top: 15%;
}