<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    　<ul>
      　<li><a href="#">Bootstrap</a></li>
      　<li><a href="#">Top</a></li>
    　</ul>
  　</header>
  
    <%= yield %>
    <footer>
    　　<p>Bootstrap Exercise社</p>
    　　<p>© 2018 Copyright Moe Yajima</p>
  　</footer>
  </body>
</html>
